.button {
    --size: 2.25em;
    border: 1px solid darkslategray;
    border-radius: 100%;
    background-color: #d5d5d5;
    color: snow;
    font-size: 1.25em;
    margin: 1px 1px;
    width: var(--size);
    height: var(--size);
}

.clear {
    background-color: #f68f24;
}

.enter {
    background-color: #00701a;
}

.num-button {
    background-color: silver;
}

.clear:hover {
    background: #ffae59;
}

.num-button:hover {
    background: #e4e4e4;
}

.enter:hover {
    background: green;
}

button:focus {
    outline: 0;
}
