.button {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: snow;
    color: #000;
    font-size: 1.25em;
    margin: 2px;

    --size: 2.25em;
    width: var(--size);
    height: var(--size);
}

.clear {
    background-color: #FF8A65;
    color: black;
}

.enter {
    background-color: #8BC34A;
    color: #000;
}

.clear:hover {
    background: #FFAB91;
}

.num-button:hover {
    background: #e4e4e4;
}

.enter:hover {
    background: #AED581;
}

button:focus {
    outline: 0;
}
