.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  padding-top: 50px;
  align-content: center;
}

.display {
  font-size: 2.25rem;
  padding: 0.5rem;
  margin: 0 auto;
}

.row {
  width: 35%;
  margin: auto;
  text-align: center;
}

.button {
  border: 1px solid silver;
  border-radius: 4px;
  background-color: sandybrown;
  color: snow;
  font-size: 1.75rem;
  width: 75px;
  height: 75px;
  padding: auto;
  display: inline-block;
}
