.container {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
}

.header {
    padding-top: 50px;
    align-content: center;
}

.display {
    font-size: 2.25rem;
    padding: 5px;
    border: 1px solid black;
    margin: 0 auto;
}

.row {
    width: 100%;
    margin: auto;
    align-content: center;
    text-align: center;
}

.button {
    border: 1px solid silver;
    border-radius: 4px;
    background-color: sandybrown;
    color: snow;
    font-size: 1.75rem;
    width: 75px;
    height: 75px;
    padding: auto;
    display: inline-block;
}
